 .myname:hover{
  color: black!important;
}

.mm{
  transition: 0.3s!important;
}

.btn-handler{
  display: flex;
  justify-content: center;
}

.btn i{
  font-size: 5vh !important;
}
 .dds:focus {
  background: #f98433 !important;
}